<div class="basic-landing">
	<div class="landing-image bg-img" style="background-image: url({{home_bg_image}});">
		<div class="basic-landing-image">
			<div class="container">
				<div class="basic-header">
				
					<div class="logo">
						<a ui-sref="static.index">
							<img ng-src="{{site_logo}}" class="hidden-xs">
							<img src="{{site_icon}}" class="visible-xs">
						</a>
					</div>

					<div class="signin">
						 <a ui-sref="static.signin">Sign In</a>
					</div>
				</div><!--end of basic-header-->
				<div class="clear-both"></div>
				
				<div class="text-wrap">
					<div class="basic-text">
						<h1 class="basic-title">See what's next.</h1>
						<p class="basic-para">WATCH ANYWHERE. CANCEL ANYTIME.</p>
						<a ui-sref="static.signup" class="join-free">Join Free for a month</a>
					</div><!--end of text-->
				</div><!--end of text-wrap-->
			
			</div><!--end of end of container-->
		</div><!--end of basic-landing-image-->
	</div><!--end of landing-image-->

	<div class="basic-tabs">
		<div class="container">	
			<div class="basic-tabs-title">									
				<ul class="nav nav-tabs" role="tablist">
				
					<li role="presentation">
						<a href="#home" aria-controls="home" role="tab" data-toggle="tab" >	
							<i class="fa fa-clipboard tab-icon hidden-xs"></i>
							<span class="tab-wrap">No commitments Cancel online at anytime</span>
						</a>
					</li>
				    <li role="presentation" class="active">
				    	<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
				    		<i class="fa fa-mobile tab-icon hidden-xs"></i>
				    		<span class="tab-wrap">Browse Anywhere</span>
				    	</a>
				    </li>
				    <li role="presentation" >
				    	<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
				    		<i class="fa fa-tag tab-icon hidden-xs"></i>
				    		<span class="tab-wrap">About {{site_name}}</span>
				    	</a>
				    </li>
				</ul>
			</div><!--end of basic-tabs-title-->
		</div><!--end of container-->

		<div class="basic-tabs-inner">
			<div class="container">
			  	<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade" id="home">
						<div class="row basic-row no-margin">
							<div class="col-sm-6 basic-section">
								<div class="online-cancel">
									<p>If you decide {{site_name}} isn't for you - no problem. No commitment. Cancel online anytime.</p>
									<a ui-sref="static.signup" class="join-free">Join Free for a month</a>
								</div><!--end of section-down-->
							</div><!--end of column-->

							<div class="col-sm-6">

								<div class="cancel-image" >
									<img src="img/cancel.png">
								</div><!--end of cancel-image-->
							</div><!--end of col-sm-6-->
						</div><!--end of row-->
					</div><!--end of tab-panel-->

				  	<div role="tabpanel" class="tab-pane fade in active " id="profile" >
				  		<div class="all-device">
				  			<div class="device-join">
				  				<p class="device-join-txt">
				  				Watch TV shows and movies anytime, anywhere — personalized for you.
				  				<a ui-sref="static.signup" class="device-join-link">Join Free for a month</a>
				  				</p>
				  			</div>

				  			<div class="devices row no-margin">
				  				<div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
				  					 <div class="device-section text-center">
				  						<div class="device-img" style="background-image: url(img/tv-ui.png);">
				  							<!-- <img src="img/tv-ui.png"> -->
				  						</div>

				  						<div class="device-content">
				  							<h3 class="device-tit">Watch on your TV</h3>
				  							<p class="device-txt">Smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
				  						</div>
				  					</div>
				  				</div>

				  				<div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
				  					 <div class="device-section text-center">
				  						<div class="device-img" style="background-image: url(img/mob-tab-ui.png);">
				  							<!-- <img src="img/tv-ui.png"> -->
				  						</div>

				  						<div class="device-content">
				  							<h3 class="device-tit">Watch on your TV</h3>
				  							<p class="device-txt">Smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
				  						</div>
				  					</div>
				  				</div>

				  				<div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
				  					 <div class="device-section text-center">
				  						<div class="device-img" style="background-image: url(img/desktop-ui.png);">
				  							<!-- <img src="img/tv-ui.png"> -->
				  						</div>

				  						<div class="device-content">
				  							<h3 class="device-tit">Watch on your TV</h3>
				  							<p class="device-txt">Smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
				  						</div>
				  					</div>
				  				</div>
				  			</div>
				  		</div><!--end of row-->
					</div><!--end of tab-panel-->


				  	<div role="tabpanel" class="tab-pane fade" id="messages">

				  		<div class="">
				  			<div class="price-head text-center">
				  				<p class="device-join-txt">
				  				{{site_name}} is programmed to start subscription based on-demand video streaming sites like Netflix and Amazon Prime. Any business idea with this core concept can be easily developed using {{site_name}}. From admin uploading a video to users making payment to users watching the videos, it’s all automated by a dynamic and responsive admin panel with multiple monetization channels.</p>
				  				<a ui-sref="static.signup" class="device-join-link price-link">Join Free for a month</a>
				  				
				  			</div>
				  			
				  		</div>
				  		
				  		
				  	</div>
				  	
				</div><!--end of tab-content-->

				
			</div><!--end of basic-tabs-->
		</div><!--end of container-->					
	</div><!--end of basic-tabs-->
</div><!--end of basic-landing-->