<div class="content">

	<!-- HIGHLIGHT -->
	<div class="highlight" ng-if="recent_video">
		<div class="tab-content">

			<!-- OVERVIEW SECTION  -->
		    <div role="tabpanel" class="tab-pane active" id="overview">
			    <div class="overview tab-section">

	    			<div class="tab-section-content row no-margin">
		    			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hidden-xs no-pad">
		    				<div class="overview-details">
		    					<h3 class="content-tit">{{recent_video.title}}</h3>

		    					<div class="row no-margin">
		    						<!-- <div class="pull-left">
		    							nvfvfj
		    						</div> -->
		    						<div class="pull-left">
		    							<div>
		    								<div class="rating-symbol glyphicon"
		    								ng-class="{'glyphicon-star-empty' : (recent_video.ratings < 1), 'glyphicon-star' : (recent_video.ratings >= 1)}">

		    								</div>
		    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (recent_video.ratings < 2), 'glyphicon-star' : (recent_video.ratings >= 2)}">

		    								</div>
		    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (recent_video.ratings < 3), 'glyphicon-star' : (recent_video.ratings >= 3)}">

		    								</div>
		    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (recent_video.ratings < 4), 'glyphicon-star' : (recent_video.ratings >= 4)}">

		    								</div>
		    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (recent_video.ratings < 5), 'glyphicon-star' : (recent_video.ratings >= 5)}">

		    								</div>
		    							</div>
		    						</div>
		    						<p class="content-txt bold seasons">
		    							<span>{{recent_video.publish_time}}</span>
		    							<span class="epi-count"><i class="fa fa-eye"></i>&nbsp;{{recent_video.watch_count}}</span>
		    							<span>{{recent_video.duration}}</span>
		    						</p>
		    					</div>

		    					<div>

		    						<div class="pull-left">

			    						<a class="white-icon">
			    							<i class="fa fa-thumbs-up"></i><span id="like_count_{{recent_video.admin_video_id}}_989">{{recent_video.like_count}}</span>
			    						</a>
			    						<a class="white-icon">
			    							<i class="fa fa-thumbs-down"></i><span id="dis_like_count_{{recent_video.admin_video_id}}_989">{{recent_video.dis_like_count}}</span>
			    						</a>

			    					</div>


		    						<div class="pull-left">

				    					<div class="display_amount" ng-if="recent_video.amount > 0 && !recent_video.pay_per_view_status" style="margin-left: 5px;">
							        		<!-- <span ng-if="recent_video.pay_per_view_status">PAID</span> -->
							        		<span>PAY - ${{recent_video.amount}}</span>
							        	</div>

						        	</div>

						        	<div class="clearfix"></div>
	    						</div>


		    					<div>
		    						<p class="content-txt overview-des">{{recent_video.description}}</p>

		    						<!-- <p class="content-txt awards"><i class="fa fa-trophy"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
		    					</div>

		    					<div id="my-list-txt_{{recent_video.admin_video_id}}_989" class="pull-left">

		    						<a ng-click="addWishlist(recent_video.admin_video_id, recent_video.admin_video_id, 989)" class="my-list bold" id="" ng-if="!recent_video.wishlist_status" style="cursor: pointer;">
		    							<!-- <span class="fa-stack fa-lg my-list-icon">
										  	<i class="fa fa-circle-thin fa-stack-2x"></i>
										  	<i class="fa fa-plus fa-stack-1x fa-inverse padding2"></i>
										</span> -->
		    							<i class="fa fa-plus my-list-icon"></i>
		    							<span class="my-list-txt">My List</span>
		    						</a>
		    						<a ng-click="removeWishlist(recent_video.wishlist_status, recent_video.admin_video_id,recent_video.admin_video_id, 989)" class="my-list bold" ng-if="recent_video.wishlist_status" style="cursor: pointer;">
		    							<!-- <span class="fa-stack fa-lg my-list-icon">
										  	<i class="fa fa-circle-thin fa-stack-2x"></i>
										  	<i class="fa fa-check fa-stack-1x fa-inverse padding2"></i>
										</span> -->
		    							<i class="fa fa-check my-list-icon"></i>
		    							<span class="my-list-txt">My List</span>
		    						</a>

		    					</div>

		    					<div class="banner-icon-sec">

		    						<a id="like_{{recent_video.admin_video_id}}_989" style="cursor: pointer;" class="banner-icon" ng-show="recent_video.is_liked == 1 || recent_video.is_liked == 0" ng-click="likeVideo(recent_video.admin_video_id, recent_video.admin_video_id, 989)">
		    							<i class="fa fa-thumbs-up"></i>

		    						</a>
		    						<a id="dis_like_{{recent_video.admin_video_id}}_989" style="cursor: pointer;" class="banner-icon" ng-show="recent_video.is_liked == -1 || recent_video.is_liked == 0" ng-click="dislikeVideo(recent_video.admin_video_id, recent_video.admin_video_id, 989)">
		    							<i class="fa fa-thumbs-down"></i>
		    						</a>

		    						<a class="banner-icon1" style="cursor: pointer;"  data-toggle="modal" data-target="#myModal" title="Report as Spam">
		    							<i class="fa fa-exclamation"></i>
		    						</a>

		    					</div>
		    				</div>
		    			</div>

						<!-- Modal -->
						<div class="modal fade" id="myModal" role="dialog">
						    <div class="modal-dialog">
						      	<!-- Modal content-->
						      	<div class="modal-content" style="background-color: #333;">
						        	<div class="modal-header spam">
						          		<button type="button" class="close" data-dismiss="modal">&times;</button>
						          		<h4 class="modal-title bold">Report This Video</h4>
						        	</div>
						        	<div class="modal-body">
						        		<form ng-submit="spamVideo(recent_video.admin_video_id, recent_video.admin_video_id, 989)">
							          		<div class="radio radio-danger" ng-repeat="spam_reason in spam_reasons">
							                    <input type="radio" name="reason" id="reason_{{$index}}_{{recent_video.admin_video_id}}_989" value="{{spam_reason.value}}">
							                    <label for="reason_{{$index}}_{{recent_video.admin_video_id}}_989">
							                        {{spam_reason.value}}
							                    </label>
							                </div>

							                {{spam_reason_value}}
							                <p class="small bold text-center">If you report this video, you won't see again the same video in anywhere in your account except "Spam Videos". If you want to continue to report this video as same. Click continue and proceed the same.</p>
							                <div class="text-right">
							                	<button type="submit" class="payment-submit">Submit</button>
							                </div>
						                </form>
						        	</div>

						      	</div>
						    </div>
						</div>


		    			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-pad">
		    				<div class="linear-outer">
		    					<div class="linear">
		    					</div>
		    					<div class="rotate-img-outer">

		    						<div class="rotate-img highlight-img bg-img" ng-class="{'first' : $index == 0, 'second' : $index == 1, 'third' : $index == 2}" style="background-image: url({{image}});" ng-repeat="image in recent_video.images"></div>
			    				</div>
			    				<div class="play-icon-outer">
			    					<!-- <a ui-sref="single_video({id : recent_video.admin_video_id})" class="play-icon"><i class="fa fa-play"></i></a> -->
			    					<span ng-show="recent_video.pay_per_view_status">
			    						<a ui-sref="single_video({id : recent_video.admin_video_id})" class="play-icon"><i class="fa fa-play"></i></a>
			    					</span>
			    					<span ng-hide="recent_video.pay_per_view_status">
			    						<a ui-sref="profile.payment-option({id : recent_video.admin_video_id})" class="play-icon"><i class="fa fa-play"></i></a>
			    					</span>
			    				</div>
		    				</div>
		    			</div>
		    		</div>

			    </div>
			</div>
			<!-- OVERVIEW SECTION END -->



			<!-- EPISODES-SECTION
			======================================== -->
			<div role="tabpanel" class="tab-pane" id="episodes" ng-if="recent_video.is_genre">
				<div class="episodes-section tab-section tab-bg bg-img" style="background-image: url({{recent_video.default_image}});">
					<div class="tab-overlay">

						<div class="episodes-section-inner tab-section-content tab-sec-inner contain-width">
							<h3 class="content-tit">{{recent_video.sub_category_name}}</h3>
							<form class="season-select">
								<div class="form-group styled-select black rounde">
								    <select id="exampleSelect1" ng-model="genres_name" ng-change="getSeasons(genres_name, '','','seasons', 'data_loader_seasons', recent_video.genre_id);">
									    <option value="">Select Seasons</option>
									    <option value="{{genrename.genre_id}}" ng-repeat="genrename in recent_video.genre_names">
									    {{genrename.genre_name}}
									    </option>
								    </select>
								</div>
							</form>

							<div class="episodes-list row no-margin">

								<div id="data_loader_seasons" style="margin-top: 10px;text-align: center;display: none">
									<img src="assets/img/ellipsis.svg" style="width: 40px;">
								</div>

								<div  id="seasons">
								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="genre_list in recent_video.first_part">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url({{genre_list.default_image}});">
											<div class="episode-img-overlay">
												<div class="episode-img-inner">

													<span class="epi-count"><i class="fa fa-eye"></i>&nbsp;{{genre_list.watch_count}}</span>

													<!-- <p class="episode-count">{{genre_list.watch_count}}</p> -->
												</div>

												<div class="epi-play-icon-outer">
													<!-- <a ui-sref="single_video({id : genre_list.admin_video_id})" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a> -->

													<span ng-show="genre_list.pay_per_view_status">
							    						<a ui-sref="single_video({id : genre_list.admin_video_id})" class="epi-play-icon"><i class="fa fa-play"></i></a>
							    					</span>
							    					<span ng-hide="genre_list.pay_per_view_status">
							    						<a ui-sref="profile.payment-option({id : genre_list.admin_video_id})" class="epi-play-icon"><i class="fa fa-play"></i></a>
							    					</span>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
												<div class="pull-left">
													<h4 class="epi-tit gray-color1">{{genre_list.title}}</h4>
												</div>

												<div class="pull-right">
													<p class="bold gray-color1">{{genre_list.duration}}</p>
												</div>
											</div>

											<div class="">
												<p class="epi-des gray-color1">{{genre_list.description}}</p>
											</div>
										</div>

									</div>
								</div>

								</div>
								<!-- episode-list-box end -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- EPISODES-SECTION END-->



			<!-- TRAILERS SECTION -->
			<div role="tabpanel" class="tab-pane" id="trailers" ng-if="recent_video.is_genre || recent_video.trailer_video">
				<div class="trailers-section tab-section tab-bg bg-img" style="background-image: url({{recent_video.default_image}});">
					<div class="tab-overlay">

						<div class="trailers-section-inner tab-section-content tab-sec-inner contain-width">
							<h3 class="content-tit">{{recent_video.sub_category_name}}</h3>

							<div class="trailers-list row no-margin">

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="trailer in recent_video.genres" ng-if="recent_video.is_genre">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url({{trailer.genre_image}});">
											<div class="episode-img-overlay">

												<div class="epi-play-icon-outer">
													<a ui-sref="genre_video({id : trailer.genre_id})" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
												<div class="">
													<h4 class="epi-tit gray-color1">{{trailer.genre_name}}</h4>
												</div>
											</div>
										</div>

									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-if="recent_video.trailer_video">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url({{recent_video.default_image}});">
											<div class="episode-img-overlay">

												<div class="epi-play-icon-outer">
													<a ui-sref="trailer_video({id : recent_video.admin_video_id})" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
												<div class="">
													<h4 class="epi-tit gray-color1">{{recent_video.title}}</h4>
												</div>
											</div>
										</div>

									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- TRAILERS SECTION END -->



			<!-- MORE LIKE SECTION  -->
			<div role="tabpanel" class="tab-pane" id="more-like">
				<div class="morelike-section tab-section tab-bg bg-img" style="background-image: url({{recent_video.default_image}});">
					<div class="tab-overlay">

						<div class="morelike-section-inner tab-section-content tab-sec-inner contain-width">
							<h3 class="content-tit">{{recent_video.sub_category_name}}</h3>

							<div class="morelike-list row no-margin">

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="video in recent_video.sub_videos">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url({{video.default_image}});">
											<div class="episode-img-overlay">
												<div class="episode-img-inner">
													<p class="new-epi">{{video.title}}</p>
												</div>

												<div class="epi-play-icon-outer">
													<!-- <a ui-sref="single_video({id : video.admin_video_id})" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a> -->

													<span ng-show="video.pay_per_view_status">
							    						<a ui-sref="single_video({id : video.admin_video_id})" class="epi-play-icon"><i class="fa fa-play"></i></a>
							    					</span>
							    					<span ng-hide="video.pay_per_view_status">
							    						<a ui-sref="profile.payment-option({id : video.admin_video_id})" class="epi-play-icon"><i class="fa fa-play"></i></a>
							    					</span>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
					    						<div class="pull-left">
					    							<div>
					    								<div class="rating-symbol glyphicon"
		    								ng-class="{'glyphicon-star-empty' : (video.ratings < 1), 'glyphicon-star' : (video.ratings >= 1)}">

		    								</div>
		    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (video.ratings < 2), 'glyphicon-star' : (video.ratings >= 2)}">

		    								</div>
		    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (video.ratings < 3), 'glyphicon-star' : (video.ratings >= 3)}">

		    								</div>
		    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (video.ratings < 4), 'glyphicon-star' : (video.ratings >= 4)}">

		    								</div>
		    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (video.ratings < 5), 'glyphicon-star' : (video.ratings >= 5)}">

		    								</div>
					    							</div>
					    						</div>
					    						<p class="content-txt bold seasons">
					    							<span>{{video.publish_time}}</span>
					    							<span class="epi-count"><i class="fa fa-eye"></i>&nbsp;{{video.watch_count}}</span>
					    							<span>{{video.duration}}</span>
					    						</p>
					    					</div>

					    					<div>
					    						<p class="content-txt overview-des bold">{{video.description}}</p>
					    					</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- MORE LIKE SECTION END -->



			<!-- DETAILS-SECTION -->
			<div role="tabpanel" class="tab-pane" id="details" ng-if="recent_video.details">
				<div class="details-section tab-section tab-bg bg-img" style="background-image: url({{recent_video.default_image}});">
					<div class="tab-overlay">

						<div class="details-section-inner tab-section-content tab-sec-inner contain-width details_section_tab">
							<h3 class="content-tit">{{recent_video.title}}</h3>

							<div class="details-row row no-margin">

								<p ng-bind-html="recent_video.details"></p>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- DETAILS-SECTION END -->

			<!-- WATCH ON TV TV SECTION-->
			<div role="tabpanel" class="tab-pane" id="watchontv" >
				<div class="details-section tab-section tab-bg bg-img" style="background-image: url({{recent_video.default_image}});">
					<div class="tab-overlay">

						<div class="details-section-inner tab-section-content tab-sec-inner contain-width details_section_tab">
							<h3 class="content-tit">{{recent_video.title}}</h3>

							<div class="details-row row no-margin">

								<p ng-bind-html="recent_video.details"></p>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- WATCH ON TV TV SECTION END-->
		</div>

		<div class="drop-tab hidden-xs">

			<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a style="cursor:pointer" ng-click="displayContent('overview')" aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
			    </li>

			    <li role="presentation" ng-if="recent_video.is_genre">
			    	<a style="cursor:pointer" ng-click="displayContent('episodes')" aria-controls="episodes" role="tab" data-toggle="tab">Episodes</a>
			    </li>

			    <li role="presentation" ng-if="recent_video.is_genre || recent_video.trailer_video">
			    	<a style="cursor:pointer" ng-click="displayContent('trailers')" aria-controls="trailers" role="tab" data-toggle="tab">Trailers &amp; More</a>
			    </li>

			    <li role="presentation">
			    	<a style="cursor:pointer" ng-click="displayContent('more-like')" aria-controls="more-like" role="tab" data-toggle="tab">More Like This</a>
			    </li>

			    <li role="presentation" ng-if="recent_video.details">
			    	<a style="cursor:pointer" ng-click="displayContent('details')" aria-controls="details" role="tab" data-toggle="tab">Details</a>
			    </li>


					<!-- <li role="presentation" ng-if="recent_video.details"> -->
					<li role="presentation" ng-if="recent_video.details">
						<a style="cursor:pointer" ng-click="displayContent('watchontv')" aria-controls="watchontv" role="tab" data-toggle="tab">Watch on Tv</a>
					</li>
		  	</ul>
		</div>
	</div>
	<!-- END OF HIGHLIGHT -->

	<div style="margin: 2% 0% 0% 4%">
		<div class="post slide-area" ng-repeat="data in datas" ng-if="data.list.length > 0" ng-init="$keyindex = $index">
			<div class="box-head">
	            <a ui-sref="profile.title({title : data.key})"><h3 ng-mouseover="showArrow($keyindex)" ng-mouseleave="hideArrow($keyindex)">{{data.name}}&nbsp;&nbsp;<i class="fa fa-angle-right" style="display: none" id="{{$keyindex}}"></i></h3></a>
	        </div>
			<div class="box video-box-row">
				<slick slides-to-show="{{slide_to_show}}" slides-to-scroll="{{slide_to_scroll}}" init-onload=true data="data.list" class="slider multiple-items">

					<div id="{{$index}}_{{data.key}}" ng-mouseover="hoverIn(this, $index, data.key, data.list.length)" ng-mouseleave="hoverOut(this, $index, data.key, data.list.length)" class="slide-box tile video-box" ng-repeat="value in data.list">

				    	<div class="video-box-outer">

					        <div class="tile-media" id="{{$index}}_{{data.key}}_img">
					          	<img class="tile-img" ng-src="{{value.default_image}}" alt=""/><!-- 3rd image-->
					        </div>

					        <div class="tile-details">

					        	<div class="video_amount" ng-if="value.amount > 0 && !value.pay_per_view_status">
					        		<!-- <span ng-if="value.pay_per_view_status">PAID</span> -->
					        		<span>PAY - ${{value.amount}}</span>
					        	</div>

					        	<!-- <a ui-sref="single_video({id:value.admin_video_id})">
					        		<div class="hover-icon" id="{{$index}}_{{data.key}}_div">
					        			<i class="fa fa-play" id="{{$index}}_{{data.key}}_icon"></i>
					        		</div>
					        	</a> -->

					        	<span ng-show="value.pay_per_view_status">
		    						<a ui-sref="single_video({id:value.admin_video_id})">
					        			<div class="hover-icon" id="{{$index}}_{{data.key}}_div">
						        			<i class="fa fa-play" id="{{$index}}_{{data.key}}_icon"></i>
						        		</div>
						        	</a>
		    					</span>
		    					<span ng-hide="value.pay_per_view_status">
		    						<a ui-sref="profile.payment-option({id:value.admin_video_id})">
						        		<div class="hover-icon" id="{{$index}}_{{data.key}}_div">
						        			<i class="fa fa-play" id="{{$index}}_{{data.key}}_icon"></i>
						        		</div>
						        	</a>
		    					</span>

								<div class="tile-content" id="{{$index}}_{{data.key}}_desc">
						            <h3 class="tile-tit">{{value.title}}</h3>

						            <div class="row no-margin">
			    						<div class="pull-left">
			    							<div>
			    								<div class="rating-symbol glyphicon"
			    								ng-class="{'glyphicon-star-empty' : (value.ratings < 1), 'glyphicon-star' : (value.ratings >= 1)}">

			    								</div>
			    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (value.ratings < 2), 'glyphicon-star' : (value.ratings >= 2)}">

			    								</div>
			    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (value.ratings < 3), 'glyphicon-star' : (value.ratings >= 3)}">

			    								</div>
			    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (value.ratings < 4), 'glyphicon-star' : (value.ratings >= 4)}">

			    								</div>
			    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (value.ratings < 5), 'glyphicon-star' : (value.ratings >= 5)}">

			    								</div>
			    							</div>
			    						</div>
			    						<p class="video-season">
			    							<span>{{value.publish_time}}</span>
			    							<span class="video-epi-count"><i class="fa fa-eye"></i>&nbsp;{{value.watch_count}}</span>
			    							<span>{{value.duration}}</span>
			    						</p>
			    					</div>

			    					<div class="row no-margin">
			    						<div class="video-des col-lg-10 col-md-10 col-sm-10 col-xs-10 no-pad">
			    							<p class="video-des-inner">{{value.description}}</p>
			    						</div>
			    					</div>

			    					<div class="text-center">
			    						<a ng-click="showVideoDrop(this, $index, data.key, data.list.length)" style="cursor: pointer;" class="arrow">

			    							<!-- <i class="fa fa-angle-down size-arrow"></i> -->

			    							<img src="assets/img/down-arrow-red.png" class="arrow_down" />
			    						</a>
			    					</div>
								</div>

					        </div>
					    </div>

				    </div>

			    </slick>
			</div>

			<div class="clearfix"></div>


			<div class="video-drop" id="{{$index}}_{{data.key}}_video_drop" ng-repeat="value in data.list">
					<div class="tab-content">
								<!-- OVERVIEW SECTION  -->
							    <div role="tabpanel" class="tab-pane active" id="{{$index}}_{{data.key}}_overview">
								    <div class="overview tab-section">
								    	<div class="close-tab">
				    						<a style="cursor: pointer;" ng-click="closeDiv($index,data.key)" class="close-btn">
				    							<i class="fa fa-times"></i>
				    						</a>
				    					</div>

						    			<div class="tab-section-content row no-margin">
							    			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-pad hidden-xs">
							    				<div class="overview-details">
							    					<h3 class="content-tit">{{value.title}}</h3>

							    					<div class="row no-margin">
							    						<div class="pull-left">
							    							<div>
							    								<div class="rating-symbol glyphicon"
							    								ng-class="{'glyphicon-star-empty' : (value.ratings < 1), 'glyphicon-star' : (value.ratings >= 1)}">

							    								</div>
							    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (value.ratings < 2), 'glyphicon-star' : (value.ratings >= 2)}">

							    								</div>
							    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (value.ratings < 3), 'glyphicon-star' : (value.ratings >= 3)}">

							    								</div>
							    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (value.ratings < 4), 'glyphicon-star' : (value.ratings >= 4)}">

							    								</div>
							    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (value.ratings < 5), 'glyphicon-star' : (value.ratings >= 5)}">

							    								</div>
							    							</div>
							    						</div>
							    						<p class="content-txt bold seasons">
							    							<span>{{value.publish_time}}</span>
							    							<span class="epi-count"><i class="fa fa-eye"></i>&nbsp;{{value.watch_count}}</span>
							    							<span>{{value.duration}}</span>
							    						</p>
							    					</div>


										        	<div>

							    						<div class="pull-left">

								    						<a class="white-icon">
								    							<i class="fa fa-thumbs-up"></i><span id="like_count_{{$index}}_{{data.key}}">{{value.like_count}}</span>
								    						</a>
								    						<a class="white-icon">
								    							<i class="fa fa-thumbs-down"></i><span id="dis_like_count_{{$index}}_{{data.key}}">{{value.dis_like_count}}</span>
								    						</a>

								    					</div>


							    						<div class="pull-left">

									    					<div class="display_amount" ng-if="value.amount > 0 && !value.pay_per_view_status" style="margin-left: 5px;">
												        		<!-- <span ng-if="recent_video.pay_per_view_status">PAID</span> -->
												        		<span>PAY - ${{value.amount}}</span>
												        	</div>

											        	</div>

											        	<div class="clearfix"></div>
						    						</div>


							    					<div>
							    						<p class="content-txt overview-des">{{value.description}}</p>

							    						<!-- <p class="content-txt awards"><i class="fa fa-trophy"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
							    					</div>

							    					<div id="my-list-txt_{{$index}}_{{data.key}}" class="pull-left">
							    						<!-- <a href="#" class="my-list bold">
							    							<i class="fa fa-plus"></i>
							    							<span class="my-list-txt">My List</span>
							    						</a> -->

							    						<a ng-click="addWishlist(value.admin_video_id, $index, data.key)" class="my-list bold" id="" ng-if="!value.wishlist_status" style="cursor: pointer;">
							    							<i class="fa fa-plus my-list-icon"></i>
							    							<!-- <span class="fa-stack fa-lg my-list-icon">
															  	<i class="fa fa-circle-thin fa-stack-2x"></i>
															  	<i class="fa fa-plus fa-stack-1x fa-inverse padding2"></i>
															</span> -->
							    							<span class="my-list-txt">My List</span>
							    						</a>
							    						<a ng-click="removeWishlist(value.wishlist_status, value.admin_video_id,$index, data.key)" class="my-list bold" ng-if="value.wishlist_status" style="cursor: pointer;">
							    							<i class="fa fa-check my-list-icon"></i>
							    							<!-- <span class="fa-stack fa-lg my-list-icon">
															  	<i class="fa fa-circle-thin fa-stack-2x"></i>
															  	<i class="fa fa-check fa-stack-1x fa-inverse padding2"></i>
															</span> -->
							    							<span class="my-list-txt">My List</span>
							    						</a>
							    					</div>
							    					<div class="banner-icon-sec">
							    						<a id="like_{{$index}}_{{data.key}}" style="cursor: pointer;" class="banner-icon" ng-show="value.is_liked == 1 || value.is_liked == 0" ng-click="likeVideo(value.admin_video_id, $index, data.key)">
						    								<i class="fa fa-thumbs-up"></i>
							    						</a>
							    						<a id="dis_like_{{$index}}_{{data.key}}" style="cursor: pointer;" class="banner-icon" ng-show="value.is_liked == -1 || value.is_liked == 0" ng-click="dislikeVideo(value.admin_video_id, $index, data.key)">
							    							<i class="fa fa-thumbs-down"></i>
							    						</a>
							    						<a style="cursor: pointer;" class="banner-icon1"  data-toggle="modal" data-target="#myModal_{{$index}}_{{data.key}}" title="Report as Spam">
							    							<i class="fa fa-exclamation "></i>
							    						</a>
							    					</div>
							    				</div>
							    			</div>

							    			<div class="modal fade" id="myModal_{{$index}}_{{data.key}}" role="dialog">
											    <div class="modal-dialog">
											      	<!-- Modal content-->
											      	<div class="modal-content" style="background-color: #333;">
											        	<div class="modal-header">
											          		<button type="button" class="close" data-dismiss="modal">&times;</button>
											          		<h4 class="modal-title bold">Report This Video</h4>
											        	</div>
											        	<div class="modal-body">
											        		<form ng-submit="spamVideo(value.admin_video_id, $index, data.key)">
												          		<div class="radio radio-danger" ng-repeat="spam_reason in spam_reasons">
												                    <input type="radio" name="reason" id="reason_{{value.admin_video_id}}_{{$index}}_{{data.key}}" value="{{spam_reason.value}}">
												                    <label for="reason_{{value.admin_video_id}}_{{$index}}_{{data.key}}">
												                        {{spam_reason.value}}
												                    </label>
												                </div>

												                {{spam_reason_value}}
												                <p class="small bold text-center">If you report this video, you won't see again the same video in anywhere in your account except "Spam Videos". If you want to continue to report this video as same. Click continue and proceed the same.</p>
												                <div class="text-right">
												                	<button type="submit" class="payment-submit">Submit</button>
												                </div>
											                </form>
											        	</div>

											      	</div>
											    </div>
											</div>

							    			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-pad">
							    				<div class="linear-outer">

							    					<div class="linear">
							    					</div>
							    					<div class="rotate-img-outer">

							    						<div class="rotate-img highlight-img bg-img" ng-class="{'first' : $index == 0, 'second' : $index == 1, 'third' : $index == 2}" style="background-image: url({{image}});" ng-repeat="image in value.images"></div>
								    				</div>

								    				<div class="play-icon-outer">
								    					<!-- <a ui-sref="single_video({id : value.admin_video_id})" class="play-icon"><i class="fa fa-play"></i></a> -->

								    					<span ng-show="value.pay_per_view_status">
								    						<a ui-sref="single_video({id : value.admin_video_id})" class="play-icon"><i class="fa fa-play"></i></a>
								    					</span>
								    					<span ng-hide="value.pay_per_view_status">
								    						<a ui-sref="profile.payment-option({id : value.admin_video_id})" class="play-icon"><i class="fa fa-play"></i></a>
								    					</span>
								    				</div>
							    				</div>
							    			</div>
							    		</div>

								    </div>
								</div>
								<!-- OVERVIEW SECTION END -->




								<!-- EPISODES-SECTION
								======================================== -->
								<div role="tabpanel" class="tab-pane" id="{{$index}}_{{data.key}}_episodes" ng-if="value.is_genre">
									<div class="episodes-section tab-section tab-bg bg-img" style="background-image: url({{value.default_image}});">
										<div class="tab-overlay">

											<div class="episodes-section-inner tab-section-content tab-sec-inner contain-width">
												<h3 class="content-tit">{{value.sub_category_name}}</h3>
												<form class="season-select">
													<div class="form-group styled-select black">
													    <select id="exampleSelect1" ng-model="genres_name" ng-change="getSeasons(genres_name, {{$index}},{{$keyindex}},'_sessions', '_loader_seasons', value.genre_id);">
														    <option value="">Select Seasons</option>
														    <option value="{{genrename.genre_id}}" ng-repeat="genrename in value.genre_names">
														    {{genrename.genre_name}}
														    </option>
													    </select>
													</div>
												</form>

												<div class="episodes-list row no-margin">

												<div id="{{$index}}{{$keyindex}}_loader_seasons" style="margin-top: 10px;text-align: center;display: none">
														<img src="assets/img/ellipsis.svg" style="width: 40px;">
													</div>

													<div id="{{$index}}{{$keyindex}}_sessions">

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="genre_list in value.first_part">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url({{genre_list.default_image}});">
																<div class="episode-img-overlay">
																	<div class="episode-img-inner">
																		<span class="epi-count"><i class="fa fa-eye"></i>&nbsp;{{genre_list.watch_count}}</span>
																	</div>

																	<div class="epi-play-icon-outer">
																		<!-- <a ui-sref="single_video({id : genre_list.admin_video_id})" class="epi-play-icon">
																			<i class="fa fa-play"></i>
																		</a> -->

																		<span ng-show="genre_list.pay_per_view_status">
												    						<a ui-sref="single_video({id : genre_list.admin_video_id})" class="epi-play-icon"><i class="fa fa-play"></i></a>
												    					</span>
												    					<span ng-hide="genre_list.pay_per_view_status">
												    						<a ui-sref="profile.payment-option({id : genre_list.admin_video_id})" class="epi-play-icon"><i class="fa fa-play"></i></a>
												    					</span>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
																	<div class="pull-left">
																		<h4 class="epi-tit gray-color1">{{genre_list.title}}</h4>
																	</div>

																	<div class="pull-right">
																		<p class="bold gray-color1">{{genre_list.duration}}</p>
																	</div>
																</div>

																<div class="">
																	<p class="epi-des gray-color1">{{genre_list.description}}</p>
																</div>
															</div>

														</div>
													</div>

													</div>
													<!-- episode-list-box end -->

												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- EPISODES-SECTION END-->



								<!-- TRAILERS SECTION -->
								<div role="tabpanel" class="tab-pane" id="{{$index}}_{{data.key}}_trailers" ng-if="value.is_genre || value.trailer_video">
									<div class="trailers-section tab-section tab-bg bg-img" style="background-image: url({{value.default_image}});">
										<div class="tab-overlay">

											<div class="trailers-section-inner tab-section-content tab-sec-inner contain-width">
												<h3 class="content-tit">{{value.sub_category_name}}</h3>

												<div class="trailers-list row no-margin">

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="trailer in value.genres" ng-if="value.is_genre">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url({{trailer.genre_image}});">
																<div class="episode-img-overlay">

																	<div class="epi-play-icon-outer">
																		<a ui-sref="genre_video({id : trailer.genre_id})" class="epi-play-icon">
																			<i class="fa fa-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
																	<div class="">
																		<h4 class="epi-tit gray-color1">{{trailer.genre_name}}</h4>
																	</div>
																</div>
															</div>

														</div>
													</div>


													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-if="value.trailer_video">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url({{value.default_image}});">
																<div class="episode-img-overlay">

																	<div class="epi-play-icon-outer">
																		<a ui-sref="trailer_video({id : value.admin_video_id})" class="epi-play-icon">
																			<i class="fa fa-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
																	<div class="">
																		<h4 class="epi-tit gray-color1">{{value.title}}</h4>
																	</div>
																</div>
															</div>

														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- TRAILERS SECTION END -->



								<!-- MORE LIKE SECTION  -->
								<div role="tabpanel" class="tab-pane" id="{{$index}}_{{data.key}}_more-like">
									<div class="morelike-section tab-section tab-bg bg-img" style="background-image: url({{value.default_image}});">
										<div class="tab-overlay">

											<div class="morelike-section-inner tab-section-content tab-sec-inner contain-width">
												<h3 class="content-tit">{{value.sub_category_name}}</h3>

												<div class="morelike-list row no-margin">

													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="sub_video in value.sub_videos">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url({{sub_video.default_image}});">
																<div class="episode-img-overlay">
																	<div class="episode-img-inner">
																		<p class="new-epi">{{sub_video.title}}</p>
																	</div>

																	<div class="epi-play-icon-outer">
																		<!-- <a ui-sref="single_video({id : sub_video.admin_video_id})" class="epi-play-icon">
																			<i class="fa fa-play"></i>
																		</a> -->

																		<span ng-show="sub_video.pay_per_view_status">
												    						<a ui-sref="single_video({id : sub_video.admin_video_id})" class="epi-play-icon"><i class="fa fa-play"></i></a>
												    					</span>
												    					<span ng-hide="sub_video.pay_per_view_status">
												    						<a ui-sref="profile.payment-option({id : sub_video.admin_video_id})" class="epi-play-icon"><i class="fa fa-play"></i></a>
												    					</span>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
										    						<div class="pull-left">
										    							<div>
										    								<div class="rating-symbol glyphicon"
						    								ng-class="{'glyphicon-star-empty' : (sub_video.ratings < 1), 'glyphicon-star' : (sub_video.ratings >= 1)}">

						    								</div>
						    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (sub_video.ratings < 2), 'glyphicon-star' : (sub_video.ratings >= 2)}">

						    								</div>
						    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (sub_video.ratings < 3), 'glyphicon-star' : (sub_video.ratings >= 3)}">

						    								</div>
						    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (sub_video.ratings < 4), 'glyphicon-star' : (sub_video.ratings >= 4)}">

						    								</div>
						    								<div class="rating-symbol glyphicon" ng-class="{'glyphicon-star-empty' : (sub_video.ratings < 5), 'glyphicon-star' : (sub_video.ratings >= 5)}">

						    								</div>
										    							</div>
										    						</div>
										    						<p class="content-txt bold seasons">
										    							<span>{{sub_video.publish_time}}</span>
										    							<span class="epi-count"><i class="fa fa-eye"></i>&nbsp;{{sub_video.watch_count}}</span>
										    							<span>{{sub_video.duration}}</span>
										    						</p>
										    					</div>

										    					<div>
										    						<p class="content-txt overview-des bold">{{sub_video.description}}</p>
										    					</div>
															</div>

														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- MORE LIKE SECTION END -->



								<!-- DETAILS-SECTION -->
								<div role="tabpanel" class="tab-pane" id="{{$index}}_{{data.key}}_details">
									<div class="details-section tab-section tab-bg bg-img" style="background-image: url({{value.default_image}});">
										<div class="tab-overlay">

											<div class="details-section-inner tab-section-content tab-sec-inner contain-width details_section_tab">
												<h3 class="content-tit">{{value.sub_category_name}}</h3>

												<div class="details-row row no-margin">

													<p ng-bind-html="value.details"></p>

												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- DETAILS-SECTION END -->

								<!-- WATCH ON TV -SECTION -->
								<div role="tabpanel" class="tab-pane" id="{{$index}}_{{data.key}}_watchontv">
									<div class="details-section tab-section tab-bg bg-img" style="background-image: url({{value.default_image}});">
										<div class="tab-overlay">

											<div class="details-section-inner tab-section-content tab-sec-inner contain-width details_section_tab">

												<h3 class="content-tit">{{value.sub_category_name}}</h3>

												<div class="details-row row no-margin">

													<p ng-bind-html="value.details"></p>

												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- WATCH ON TV -SECTION END -->
					</div>

					<div class="drop-tab hidden-xs">

								<ul class="nav nav-tabs" role="tablist">
								    <li role="presentation" class="active">
								    	<a style="cursor:pointer" ng-click="dynamicContent($index, data.key,'overview')" aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
								    </li>

								    <li role="presentation" ng-if="value.is_genre">
								    	<a style="cursor:pointer" ng-click="dynamicContent($index,data.key,'episodes')" aria-controls="episodes" role="tab" data-toggle="tab">Episodes</a>
								    </li>

								    <li role="presentation" ng-if="value.is_genre || value.trailer_video">
								    	<a style="cursor:pointer" ng-click="dynamicContent($index,data.key,'trailers')" aria-controls="trailers" role="tab" data-toggle="tab">Trailers &amp; More</a>
								    </li>

								    <li role="presentation">
								    	<a style="cursor:pointer" ng-click="dynamicContent($index,data.key,'more-like')" aria-controls="more-like" role="tab" data-toggle="tab">More Like This</a>
								    </li>

								    <li role="presentation" ng-if="value.details">
								    	<a style="cursor:pointer" ng-click="dynamicContent($index,data.key,'details')" aria-controls="details" role="tab" data-toggle="tab">Details</a>
								    </li>
										
							  	</ul>

					</div>
			</div>

		</div>
	</div>

</div>
