<div class="content" id="page_content">

<div style="margin-top:80px !important; margin:5%; padding: 10px;">

<div class="box-head" style="margin-bottom: 2%;">
   <h3>Live Videos</h3>
</div>

<button ng-click="loadMoreDetails()" ng-hide="true" id="load_more_details"></button>


<div class="box video-box-row" ng-if="datas.length == 0">

<p>You have not added any live videos</p>

</div>

<div class="box video-box-row" ng-repeat="video in datas" ng-init="$parentindex = $index">

	<div id="{{$index}}_{{$parentindex}}" ng-mouseover="hoverIn(this,$index, $parentindex, video.length)" ng-mouseleave="hoverOut(this, $index, $parentindex, video.length)" class="tile col-lg-3 col-md-3 col-sm-3 col-xs-6 slide-box video-box" ng-repeat="value in video">
    	<div class="video-box-outer">
    	
	        <div class="tile-media" id="{{$index}}_{{$parentindex}}_img">
	          	<img class="tile-img" ng-src="{{value.image}}" alt=""/><!-- 3rd image-->
	          	<!-- <img class="tile-img first" ng-src="{{value.default_image}}" alt=""/>
	          	<img class="tile-img first" ng-src="{{value.default_image}}" alt=""/> -->
	        </div>
	        <div class="tile-details">

	        	
	        	<span>
					<a ui-sref="live_video({id : value.live_video_id})">
		        		<div class="hover-icon" id="{{$index}}_{{$parentindex}}_div">
	        			<i class="fa fa-play"></i>
		        		</div>
		        	</a>
				</span>
				
				<div class="tile-content" id="{{$index}}_{{$parentindex}}_desc">
		            <h3 class="tile-tit">{{value.title}}</h3>

		            <div class="row no-margin">
						<p class="video-season">
							<span>{{value.created_date}}</span>
						</p>
					</div>

					<div class="row no-margin">
						<div class="video-des col-lg-10 col-md-10 col-sm-10 col-xs-10 no-pad">
							<p class="video-des-inner">{{value.description}}</p>
						</div>
					</div>

					<div class="text-center">
						<a ng-click="showVideoDrop(this, $index, $parentindex,video.length)" class="arrow">
							<img src="assets/img/down-arrow-red.png" class="arrow_down" />
						</a>
					</div>
				</div>

	        </div>
	    </div>
	    
    </div>
 
 	<div class="clearfix"></div>

 	<div class="video-drop" style="margin-top: 1% !important;" id="{{$index}}_{{$parentindex}}_video_drop" ng-repeat="value in video">
		<div class="tab-content">

				<!-- OVERVIEW SECTION  -->
			    <div role="tabpanel" class="tab-pane active" id="{{$index}}_{{$parentindex}}_overview">
				    <div class="overview tab-section">
				    	<div class="close-tab">
    						<a style="cursor: pointer;" ng-click="closeDiv($index,$parentindex)" class="close-btn">
    							<i class="fa fa-times"></i>
    						</a>
    					</div>
			    		
		    			<div class="tab-section-content row no-margin">
			    			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-pad hidden-xs">
			    				<div class="overview-details">
			    					<h3 class="content-tit">{{value.title}}</h3>

			    					<div class="row no-margin">
			    						
			    						<p class="content-txt bold seasons">
			    							<span>{{value.created_at}}</span>
			    							
			    						</p>
			    					</div>

			    					

			    					<div>
			    						<p class="content-txt overview-des">{{value.description}}</p>

			    						<!-- <p class="content-txt awards"><i class="fa fa-trophy"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
			    					</div>

			    				</div>
			    			</div>

			    			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-pad">
			    				<div class="linear-outer">
			    					
			    					<div class="linear">
			    					</div>
			    					<div class="rotate-img-outer">	
		    					
			    						<div class="rotate-img highlight-img bg-img" style="background-image: url({{value.image}});"></div>
				    				</div>

				    				<div class="play-icon-outer">
				    					<!-- <a ui-sref="single_video({id : value.admin_video_id})" class="play-icon"><i class="fa fa-play"></i></a>-->

				    					<span>
				    						<a ui-sref="live_video({id : value.live_video_id})" class="play-icon"><i class="fa fa-play"></i></a>
				    					</span>
				    					
				    				</div>
			    				</div>
			    			</div>
			    		</div>
			    							    
				    </div>
				</div>
				<!-- OVERVIEW SECTION END -->


				<!-- DETAILS-SECTION -->
				<div role="tabpanel" class="tab-pane" id="{{$index}}_{{$parentindex}}_details">
					<div class="details-section tab-section tab-bg bg-img" style="background-image: url({{value.image}});">
						<div class="tab-overlay">

							<div class="details-section-inner tab-section-content tab-sec-inner contain-width details_section_tab">
								<h3 class="content-tit">{{value.title}}</h3>

								<div class="details-row row no-margin">

									<p ng-bind-html="value.description"></p>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- DETAILS-SECTION END -->
		</div>

		<div class="drop-tab hidden-xs">

			<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a style="cursor:pointer" ng-click="dynamicContent($index, $parentindex,'overview')" aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
			    </li>

			    <li role="presentation" ng-if="value.description">
			    	<a style="cursor:pointer" ng-click="dynamicContent($index,$parentindex,'details')" aria-controls="details" role="tab" data-toggle="tab">Details</a>
			    </li>
		  	</ul>		
			
		</div>
	</div>

</div>

<div class="clearfix"></div>

<div id="data_loader" style="margin-top: 5px;text-align: center;display: none">
	<img src="assets/img/ellipsis.svg" style="width: 40px;">
</div>

</div>

<style type="text/css">
.box-head h3{

    font-size: 18px;
	color: #e5e5e5;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;

	margin:0;

}

.video-box-row {

	font-size : 14px;

	white-space: normal;
}


</style>