<div class="content-wrapper gray-background">

	<div class="account-layout">
		<div class="container">
			
			<div class="account-layout-inner padding50">
				<h1 class="account-header">My Account</h1>
				<div class="account-content">

					<!-- Account Section -->
					<div class="account-section row no-margin">

						<!-- Accound section header -->
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="account-section-header">
								<h3 class="account-section-title">Profile</h3>
								
							</div>
						</div>

						<!-- Account section content -->
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
							<!-- Account Section Content -->
							<div class="account-section-content row no-margin">

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
									<div class="account-section-content-block">
										<p class="account-section-text" ng-if="profile.login_by == 'manual'">{{profile.email}}</p>
										<p class="account-section-text account-gray-text">
										Password <span>********</span>
										</p>
										<p class="account-section-text account-gray-text">
										Phone <span>{{profile.mobile}}</span>
										</p>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
									<div class="account-section-content-block text-right">
										<div>
											<a ui-sref="profile.edit-account({id : id})" class="account-section-link">Edit Profile</a>
										</div>
										
										<div ng-if="login_by == 'manual'">
											<a ui-sref="profile.change-password({id : id})" class="account-section-link">Change Password</a>
										</div>

										<div>
											<a ui-sref="profile.delete-account({id : id})" class="account-section-link">Delete Account</a>
										</div>											
									</div>
								</div>

							</div>
							<!-- Account Section Content -->


						
						</div>

					</div>
					<!-- Account Section End -->

					<!-- Account Section -->
					<div class="account-section row no-margin">

						<!-- Accound section header -->
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="account-section-header">
								<h3 class="account-section-title">Plan Details</h3>
							</div>
						</div>

						<!-- Account section content -->
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

							<div class="account-section-content row no-margin">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
									<div class="account-section-content-block">
										<p class="account-section-text">{{active_plan.title ? active_plan.title : '-'}}</p>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
									<div class="account-section-content-block text-right">
										<div>
											<a ui-sref="profile.subscriptions({sub_profile_id : sub_profile_id})" class="account-section-link">Change Plan</a>
										</div>											
									</div>

									<div class="account-section-content-block text-right">
										<div>
											<a ui-sref="profile.billing-details({sub_profile_id : sub_profile_id})" class="account-section-link">Billing Details</a>
										</div>											
									</div>
								</div>
							</div>
						</div>
						<!-- Account section content -->
					</div>
					<!-- Account Section End -->

					<!-- Account Section -->
					<div class="account-section row no-margin">

						<!-- Accound section header -->
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="account-section-header">
								<h3 class="account-section-title">Manage Profile</h3>
							</div>
						</div>

						<!-- Account section content -->
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

							<div class="account-section-content row no-margin">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
									<div class="">
										<a class="account-profile">
											<img src="{{subprofile.picture}}">
											{{subprofile.name}}
										</a>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
									<div class="account-section-content-block text-right">
										<div>
											<a ui-sref="manage-profile.view-profile" class="account-section-link">Manage Profile</a>
										</div>											
									</div>
								</div>
							</div>
						</div>
						<!-- Account section content -->
					</div>
					<!-- Account Section End -->
					<!-- Account Section -->
					<div class="account-section row no-margin">

						<!-- Accound section header -->
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="account-section-header">
								<h3 class="account-section-title">Card Details</h3>
							</div>
						</div>

						<!-- Account section content -->
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

							<div class="account-section-content row no-margin">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
									<div class="account-section-content-block">
										<p class="account-section-text" ng-if="profile.card_last_four_number != ''">xxxx-xxxx-xxxx-{{profile.card_last_four_number}}</p>
										<p class="account-section-text" ng-if="profile.card_last_four_number == ''">-</p>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
									<div class="account-section-content-block text-right">
										<div>
											<a ui-sref="profile.add-card({sub_profile_id : sub_profile_id})" class="account-section-link">Add Card</a>
										</div>											
									</div>

									<div class="account-section-content-block text-right">
										<div>
											<a ui-sref="profile.card-list({sub_profile_id : sub_profile_id})" class="account-section-link">Card Details</a>
										</div>											
									</div>
								</div>
							</div>
						</div>
						<!-- Account section content -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="push"></div>
</div>

