<div class="content-wrapper">
	<div class="login-form" style="padding-top: 50px; padding-bottom:40px;">
		<div class="section-padding">

			<h3 class="text-center text-uppercase">Add Card</h3>

            <div class="row">

                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                	<div class="row" style="background-color: white;">
                		<div class="col-xs-12 col-sm-6 col-md-6 p-l-0 hidden-xs">
                			<div class="payment-card-img" style="background-image:url('img/card-image.png');" style="position: relative;">
                				
                				<a class="text-uppercase" style="position: absolute;right: 15%;bottom: 5%;color: #fff;" ui-sref="profile.card-list({sub_profile_id : sub_profile_id})">View Cards >></a>

                			</div>
                		</div>
                		<div class="col-xs-12 col-sm-6 col-md-6">
                			<div class="">
                				<form class="top-bottom-space" id="payment-form">
								  <!-- 	<div class="form-group">
								    	<input type="text" class="form-control" placeholder="CardHolders Name">
								  	</div> -->

								  	<div id="card-payment">

								  	<div class="form-group row top1">
									    <div class="col-xs-12">
									        <input type="text" class="form-control"  placeholder="XXXX  XXXX XXXX" pattern="[0-9]{16,}" title="Please Enter 16 digit number" maxlength="16" name="number" data-stripe="number" id="number" id="number">
									    </div>
									    
									</div>

								  	<div class="form-group row top1">
									    <div class="col-xs-6">
									        <input type="number" class="form-control"  placeholder="MM" pattern="[0-9]{2}" title="Please Enter 2 digit number"  name="month" data-stripe="exp-month" maxlength="2">
									    </div>
									    <div class="col-xs-6">
									        <input type="number" class="form-control"  placeholder="YY" pattern="[0-9]{2}" title="Please Enter 2 digit number" name="year" data-stripe="exp-year" maxlength="2">
									    </div>
									</div>

									<div class="form-group row top1">
									    <div class="col-xs-6">
									    	<input type="number" class="form-control"  placeholder="CVV" pattern="[0-9]{3}" title="Please Enter 3 digit number" name="cvv" data-stripe="cvc" maxlength="3">
									    </div>
									</div>



									<!-- <div class="checkbox checkbox-danger top1">
				                        <input id="checkbox6" type="checkbox" checked="">
				                        <label for="checkbox6">
				                            Save my card details
				                        </label>
				                    </div> -->

				                    <button class="btn btn-primary form-btn" id="save_card_btn">Save Card</button>

				                    </div>
                				</form>
                			</div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>
