<div class="content-wrapper">
    <div class="login-form" style="padding-top: 50px; padding-bottom:40px;color: #333;">
        <div class="section-padding">
        	<div class="row">
                <h3 class="text-center text-uppercase" style="color: #fff">Card Details</h3>

                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <div class="white-bg spacing text-center">
                    	
                        <div ng-repeat="card in cards" ng-if="cards.length > 0">

                        	<div>
                        		<div class="card-list-left">
                        			<img src="img/visa.png">
                        		</div>
                        		<div class="card-list-right">
                        			<p class="m-0"><a ng-click="deleteCard(card.card_id)" style="cursor: pointer;"><i class="fa fa-trash pull-right"></i></a></p>
                        			<h4 class="uppercase mt-0">xxxx-xxxx-xxxx-{{card.last_four}}</h4>
                        			<a ng-if="card.is_default"><p class="theme-clr captalize">Default card</p></a>
                                    <a ng-if="!card.is_default" ng-click="setAsDefault(card.card_id)" style="cursor: pointer;"><p class="captalize">Set as default</p></a>
                        		</div>
                        	</div>
                        	<div class="clearfix"></div>
                        	<p class="line"></p>

                        </div>
                    	
                    	<div>
                            <a ui-sref="profile.add-card({sub_profile_id:sub_profile_id})">

                        		<div class="card-list-left">
                        			<img src="img/credit-card1.png">
                        		</div>
                        		<div class="card-list-right">
                        			<h4 class="mt-30">Add card</h4>
                        		</div>

                            </a>
                    	</div>
                    	<div class="clearfix"></div>
                    	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>