
<nav class="navbar navbar-default navbar-fixed-top nav-scroll {{black_bg}}" role="navigation" >
	<div class="search-section" id="top-search-section">
		<form>
			<div class="input-group">
			    <input type="text" class="form-control" name="key" autocomplete="true" ng-enter="getSearchModel(search_key)" ng-model="search_key" placeholder="Search.." id="search_key">
			    <div class="input-group-btn">
			      	<button class="btn btn-default" type="submit">
			        	<i class="glyphicon glyphicon-search"></i>
			        </button>
			    </div>
			</div>
		</form>
		<a ng-click="hideSearch()" style="cursor: pointer;"><i class="fa fa-close top-close-icon"></i></a>
	</div>
	
	<div class="header_section" id="header-section">
		<div class="navbar-header left-align">
			 
			<!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				 <span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
			</button>  -->
			<a class="navbar-brand hidden-xs" ui-sref="profile.home({sub_profile_id : sub_profile_id})">
				<img ng-src="{{site_logo}}">
			</a>
			<a class="navbar-brand1 visible-xs" ui-sref="profile.home({sub_profile_id : sub_profile_id})">
				<img src="{{site_icon}}">
			</a>
		</div>
		
		<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
		<div>
			<ul class="nav navbar-nav left-align">
				<li class="dropdown active mega-dropdown">
					<a style="cursor: pointer;" class="dropdown-toggle hidden-xs" data-toggle="dropdown">Browse<strong class="caret"></strong></a>
					<a style="cursor: pointer;" class="dropdown-toggle visible-xs" data-toggle="dropdown"><i class="fa fa-globe browse-icon"></i></a>
					<ul class="dropdown-menu mega-dropdown-menu">
						<div class="row no-margin">

							<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12 border-right">
								<ul class="sub-drop list-unstyled sub-drop1">
									<li>
										<a ui-sref="profile.home({sub_profile_id : sub_profile_id})">Home</a>
									</li>

									<li>
										<a ui-sref="profile.title({title:'wishlist'})">Wishlist</a>
									</li>

									<li>
										<a ui-sref="profile.title({title:'recent'})">Recent Uploads</a>
									</li>

									<li>
										<a ui-sref="profile.title({title:'trending'})">Trending</a>
									</li>

									<li>
										<a ui-sref="profile.title({title:'watchlist'})">History</a>
									</li>

									<li>
										<a ui-sref="profile.title({title:'suggestion'})">Recommended</a>
									</li>

									<li>
										<a ui-sref="profile.spam_videos">Spam Videos</a>
									</li>

								</ul>
							</li>


							<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="data in datas">
								<ul class="sub-drop list-unstyled sub-drop2">
									<li ng-repeat="value in data">
										<a ui-sref="profile.browse({browse:value.id})">{{value.name}}</a>
									</li>
								</ul>
							</li>

						</div>
					</ul>
				</li>

				<li style="padding: 5px 0px 0px 0px;">
					<a ui-sref="profile.live_videos" class="live_videos_a">Live Videos</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right right-align">
				<li>

					<form style="padding-top: 10px;" class="hidden-xs">
					  	<input id="search-box" type="text" class="search-box" name="key" autocomplete="true" ng-enter="getSearchModel(search_key)" ng-model="search_key" placeholder="Search.."/>
					  	<label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
					</form>
					<a class="search-box-xs visible-xs" ng-click="searchShow()" style="cursor: pointer;"><i class="fa fa-search search-icon1"></i></a>
										
				</li>

				<li class="dropdown">
					  
					  <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" style="position: relative;" ng-click="redNotification()">
					    <i class="glyphicon glyphicon-bell"></i>
					    <span class="notification_badge" id="notification_badge" ng-if="notifications_count > 0">{{notifications_count}}</span>
					  </a>
					  
					  <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
					    
					   <!--  <div class="notification-heading"><h4 class="menu-title">Notifications</h4><h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
					    </div>
					    <li class="divider"></li> -->
					   <div class="notifications-wrapper">
					   		<div ng-repeat="notification in notifications" ng-if="notifications.length > 0">

							    <a class="content" ng-if="notification.pay_per_view_status" ui-sref="single_video({id : notification.admin_video_id})">

							       <div class="notification-item">

							       	<div class="row">

								       	<div class="col-lg-3">

								       		<!-- <img ng-src="{{notification.img}}" style="width: 100%;height: 100%;" /> -->
								       		<div style="background-image: url({{notification.img}});" class="noti-img"></div>
								       	</div>

								       	<div class="col-lg-9">

								        <h4 class="item-title" style="text-overflow: ellipsis;">{{notification.title}}</h4>
								        <p class="item-info">{{notification.time}} {{notification.pay_per_view_status}}</p>

								        </div>
							        </div>
							      </div>
							    </a>

							    <a class="content" ng-if="!notification.pay_per_view_status" ui-sref="profile.pay_per_view({id : notification.admin_video_id})"> 
							      
							       <div class="notification-item">

							       	<div class="row">

								       	<div class="col-sm-3 col-md-3 col-lg-3">

								       		<!-- <img ng-src="{{notification.img}}" style="width: 100%;height:70px;" /> -->
								       		<div style="background-image: url({{notification.img}});" class="noti-img"></div>

								       	</div>

								       	<div class="col-sm-9 col-md-9 col-lg-9">

								        <h4 class="item-title" style="text-overflow: ellipsis;">{{notification.title}}</h4>
								        <p class="item-info">{{notification.time}}</p>

								        </div>
							        </div>
							      </div>
							    </a>
							    <li class="divider"></li>
						    </div>

						    <div ng-if="notifications.length == 0">	

						    	<p style="color: #fff;padding: 15px; margin: 0;">Sorry - You dont have any notifications</p>

						    </div>
					   </div>
					    <!-- <li class="divider"></li> -->
					    <div class="notification-footer" ng-if="notifications.length > 0">
					    	<a ui-sref="profile.title({title:'recent'})">
					    	<h4 class="menu-title pull-right">View all&nbsp;<i class="fa fa-chevron-right"></i></h4>
					    	</a>
					    	<div class="clearfix"></div>
					    </div>
					  </ul>
					  
		         </li><!-- /dropdown -->

				<li class="dropdown nav-profile">
					<a class="dropdown-toggle hidden-xs" data-toggle="dropdown" style="cursor: pointer;">
						<div class="nav-profile-img bg-img" style="background-image: url({{sub_profile.picture}});"></div>
						{{sub_profile.name}}
					 	<strong class="caret"></strong>
					</a>
					<a class="dropdown-toggle visible-xs" data-toggle="dropdown" style="cursor: pointer;">
						<div class="nav-profile-img bg-img" style="background-image: url({{sub_profile.picture}});"></div>
					</a>
					<ul class="dropdown-menu nav-profile-menu" style="margin-top: 10px;">
						<div class="border-bot more-profile padding15">
							<li class="row no-margin" ng-repeat="value in profiles">
								<a ui-sref="profile.home({sub_profile_id : value.id})"><div class="nav-profile-img bg-img" style="background-image: url({{value.picture}});"></div>
									{{value.name}} <span ng-if="value.status == 1">(Main)</span></a>
							</li>

							<li>
								<a ui-sref="manage-profile.manage-profiles">Manage Profile</a>
							</li>
						</div>

						<div class="padding15">
							<li>
								<a ui-sref="profile.account-settings({sub_profile_id : sub_profile_id})">
									Your Account
								</a>
							</li>

							<li>
								<a ui-sref="profile.payment-details">
									Payment History
								</a>
							</li>

							<!-- <li>
								<a href="#">
									Help Center
								</a>
							</li> -->

							<li>
								<a ng-click="logout()" style="cursor: pointer;">
									Signout
								</a>
							</li>
						</div>
					</ul>
				</li>
			</ul>
		</div>
	</div>	
</nav>
